body {
  background-color: #121212;
  color: #efe9d4;
}

.contain {
  max-width: 728px;
  padding: 0 1.5rem;
}

.section {
  margin-bottom: 90px;
}

p {
  font-family: calibri, sans-serif;
  font-style: normal;
  font-weight: 300;
  letter-spacing: 2px;
}


p:not(:last-of-type) {
  margin-bottom: 20px;
}

p.large {
  font-size: 2rem;
}

p.small {
  font-size: .75rem;
}

a {
  font-family: proxima-nova, sans-serif;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 2px;
  transition: color .25s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

a:hover {
  color: #aba89a;
}

a ion-icon {
  font-size: 2rem;
  transition: transform .25s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  color: #4f8953;
}

a:hover ion-icon{
  transform: translateX(5px);
}

h1, h2, h3, h4, h5, h6 {
  font-family: proxima-nova, sans-serif;
  font-style: normal;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 4px;
  text-align: center;
}

h2 {
  font-size: 1.75rem;
  margin-bottom: 10px;
}

h5 {
  font-size: 1.25rem;
}

input, textarea {
  -moz-appearance: none;
  -webkit-appearance: none;
  background-color: transparent;
  border: none;
  outline: none;
}

input[type=text], textarea {
  border-bottom: 1px solid #efe9d4;
  font-weight: 300;
  letter-spacing: 2px;
  font-family: calibri, sans-serif;
}

input[type=text]::-webkit-input-placeholder, textarea::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #54524c;
}
input[type=text]::-moz-placeholder, textarea::-moz-placeholder { /* Firefox 19+ */
  color: #54524c;
}
input[type=text]:-ms-input-placeholder, textarea:-ms-input-placeholder { /* IE 10+ */
  color: #54524c;
}
input[type=text]:-moz-placeholder, textarea:-moz-placeholder { /* Firefox 18- */
  color: #54524c;
}
input::placeholder, textarea::placeholder {
  color: #54524c;
  font-weight: 300;
  letter-spacing: 2px;
}

button[type=submit] {
  background-color: #4f8953;
  color: #efe9d4;
  letter-spacing: 2px;
  font-family: proxima-nova, sans-serif;
  transition: background-color .25s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

button[type=submit]:hover {
  background-color: #325634;
}

.logo svg {
  height: 44px;
  width: auto;
}

.header {
  margin-bottom: 90px;
}

.hamburger {
  position: relative;
  padding: 0;
  outline: none !important;
  z-index: 3;
  transform: translateY(2px);
}

.hamburger.is-active:hover {
  opacity: 1;
}

.hamburger-inner {
  background-color: #efe9d4;
  height: 2px;
  width: 35px;
}
.hamburger-inner::before {
  background-color: #efe9d4;
  height: 2px;
  width: 35px;
}
.hamburger-inner::after {
  background-color: #efe9d4;
  height: 2px;
  width: 35px;
}

.navigation {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #efe9d4;
  color: #121212;
  height: 100%;
  padding-top: 154px;
  transform: translateX(-101%);
  transition: transform .25s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  z-index: 2;
}

.navigation ul li:not(:last-of-type) {
  margin-bottom: 20px;
}

.navigation ul li a {
  font-family: proxima-nova, sans-serif;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 2px;
}

.navigation.open {
  transform: translateX(0);
}

@media (max-width: 640px) {
  .navigation.open {
    width: 100%;
  }
}